
div {
    text-align: center;
}

.h1 {
    text-align: center;

}

.p {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.h2 {
    border-bottom: 5px double #999;
}

.skills {
    border-bottom: 5px double #999;
}
.am{
    text-align: center;
}
