
.links {
    text-align: center;
}

.h1 {
    text-align: center;

}

.p {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

body.h1 {
    text-align: center;
}

.skills {
    border-bottom: 2px solid black;
}
